@import "https://js.arcgis.com/4.23/@arcgis/core/assets/esri/themes/light/main.css";
.esri-view {
  height: 100%;
  width: 100%;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: 0px !important;
  border: 0px !important;
}

.esri-ui-bottom-right {
  flex-direction: column !important;
  flex-wrap: initial !important;
}
