<div class="modal-header">
  <h4 class="modal-title">Dữ liệu phim ảnh từ UAV/Camera</h4>
  <button type="button" class="close" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row text-center text-lg-start">
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/aob0ukAYfuI/400x300"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/EUfxH-pze7s/400x300"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/M185_qYH8vg/400x300"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <video
            width="100%"
            height="100%"
            controls
            class="img-fluid img-thumbnail"
          >
            <source
              src="https://localhost:44303/api/filemanager?pathFile=04.mp4"
              type="video/mp4"
            />
          </video>
          <!-- <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/M185_qYH8vg/400x300"
            alt=""
          /> -->
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/M185_qYH8vg/400x300"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal-footer">
  <button
    type="button"
    class="btn btn-light"
    (click)="modal.close('Close click')"
  >
    Close
  </button>
</div> -->
