<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="openedSlideBar = !openedSlideBar"
  >
    <mat-icon *ngIf="!openedSlideBar; else clear">menu</mat-icon>
    <ng-template #clear><mat-icon>clear</mat-icon></ng-template>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize hasBackdrop="false">
  <mat-drawer [opened]="openedSlideBar" class="example-sidenav" mode="over">
    <p>Auto-resizing sidenav</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    <button mat-stroked-button (click)="onZoom()">Zoom</button>
  </mat-drawer>
  <mat-drawer
    position="end"
    [opened]="openedSlideBarPhimAnh"
    class="example-sidenav"
    mode="over"
  >
    <p>Auto-resizing sidenav</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>
  <div class="example-sidenav-content">
    <app-map-view
      id="app-map-view"
      (onClickPhimAnhEvent)="openSlideBarPhimAnh($event)"
      (onHoverPhimAnhEvent)="openPopupPhimAnh($event)"
    ></app-map-view>
    <app-phim-anh-popup
      [ngStyle]="{
        'top.px': popupPhimAnh?.screenCoordinate?.y,
        'left.px': popupPhimAnh?.screenCoordinate?.x
      }"
      *ngIf="popupPhimAnh?.isShow"
    ></app-phim-anh-popup>
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->
  </div>
</mat-drawer-container>
